#color {
    width: 100px;
    height: 100px;
}

input {
    width: 25px;
}

.correct {
    background-color: lightgreen;
}

.partial {
    background-color: khaki;
}

.incorrect {
    background-color: tomato;
}